<div class="wrapper">
  <div class="list-group">
    <div class="list-group-item">
      <h1 class="list-group-item-heading text-center"><%= @activity.name %> on <%= display_time(@activity.start_date_local) %></h1>
    </div>
    <div class="list-group-item">
      <p class="list-group-item-text">Distance (miles)</p>
      <h3 class="list-group-item-heading"><%= in_miles(@activity.distance) %></h3>
      <p class="list-group-item-text">Duration (hours)</p>
      <h3 class="list-group-item-heading"><%= in_hours(@activity.elapsed_time) %></h3>
      <p class="list-group-item-text">Elevation Gain (feet)</p>
      <h3 class="list-group-item-heading"><%= in_feet(@activity.total_elevation_gain) %></h3>
      <p class="list-group-item-text">Average Speed (mph)</p>
      <h3 class="list-group-item-heading"><%= in_mph(@activity.average_speed) %></h3>
      <p class="list-group-item-text">Max Speed (mph)</p>
      <h3 class="list-group-item-heading"><%= in_mph(@activity.max_speed) %></h3>
      <p class="list-group-item-text">Average Heart Rate (bpm)</p>
      <h3 class="list-group-item-heading"><%= @activity.average_heartrate %></h3>
      <p class="list-group-item-text">Max Heart Rate (bpm)</p>
      <h3 class="list-group-item-heading"><%= @activity.max_heartrate %></h3>
    </div>
  </div>
</div>
