<!DOCTYPE html>
<html>
  <head>
    <title>StravaCurious</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Antic+Slab|Quicksand" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <div class="container">
      <%= yield %>
    <div>
  </body>
</html>
